### front end
# compiled output
/tmp
/out-tsc
/public

# dependencies
frontend/node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
frontend/typings

# e2e
frontend/e2e/*.js
frontend/e2e/*.map

# Django
__pycache__
db.sqlite3

# System Files
.DS_Store
Thumbs.db

# Sat Solvers
/files

